@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.container-slider {
    height: 350px;
    margin-top: 55px;
  }
  /* Размер картинки в слайдере */
  .slide-wraper {
    img {
      height: 300px;
      width: 500px;
    }
    
  }