
label.control-label {
  color: #fff;
  margin-right: 10px;
}



.btn-primary {
  color: #fff !important;
  background-color: $color !important;
  border-color: #fff !important;
  &:hover, &:focus {
    background-color: $colorhover !important;
    color: #fff !important;
    outline: none !important;
  }
}

label {
  color: #fff;
}

