input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.panel-heading {
    color: #fff !important;
    background-color: $color !important;
    border-color: $color !important;
}

.btn-primary {
    color: #fff !important;
    background-color: $color !important;
    border-color: $color !important;
}

.panel-info {
    border-color: $color !important;
}

.modal-content {
    width: 66.6% !important;
    margin: 0 auto;
}

.modal-body {
    padding-top: 0 !important;
}

.modal-dialog {
    top: 10vw;
}

