@import "variables";
@import "carousel";


html {
  font-size: 16px; }

body {
  font-size: 100%;
  
 }
  
/* Шапка страницы */


  .header {
    min-height: 76px;
    background-color: $colordark ;
    color: #fff;
    h3 {
      margin-bottom: 0;
    }
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    .colorheader {
      color: $color;
    }
    
    .review {
       width: 300px;
       position: relative;
       
    }

    .logo {
      height: 60px;
      width: 60px;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -4px;
      left:-7px;
    }


    .logophone {
      background-image: url(../img/logophone.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 45px;
      position: absolute;
      left: 30px;
    }   
    @media (max-width: 800px){
      .logophone {
        left: 14px;
        top:-10px;
      }

      h3 {
       font-size: 16px;
      }
    }
    
  }

  /* Секция отзывы на заказ */
.banner {
  height: 543px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  .banner-background {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 543px;
    position: relative;
  
    h1 {
      color: $color;
      text-transform: uppercase;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 44px;
      margin-top: 170px;
      position: relative;
      z-index: 10;
      
    }
    @media (max-width: 800px) {
      h1 {
        margin-top: 80px;
        font-size: 20px;
      }
    }

  }

    .banner-girl {
      height: 450px;
      width: 260px;
      background-image: url(../img/girl.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: 100px;
    } 

    @media (max-width: 1100px) {
      .banner-girl {
        background-size: 100% ;
        background-position: 30% 100%;
        right: 0px;
      }
    }
   
  



.banner-conversion {
  width: 246px;
  height: 26px;
  background-color: $colordark;
  color: #fff;
  padding-top: 5px;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  right: 24vw;
}

@media (max-width: 800px) {
   .banner-conversion {
     bottom: 40px;
     right: 17vw;
     font-size: 10px;
     padding-top: 2px;
     width: 160px;
     height: 15px;
   }
}

.banner-overlay {
  width: 100%;
  height: 543px;
  background-color: rgba(0,0,0,0.84);
  position: absolute;
  top:0;

}
/* Секция преимущество отзывов */
.advantage {
  min-height: 489px;
  background-color: #EEEEEE;
  h1 {
    margin-top: 55px;
    color: $colortext;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
  }

  .slash {
    width: 120px;
    height: 3px;
    background-color: $color;
    margin-top: 7px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  }
}

.advantage-description {
  margin-top: 55px;
}

.advantage-image {
  padding: 30px;
}

.advantage-list {
  text-align: left;
  h6 {
    margin-top: 20px;
    font-size: 16px;
    p {
      margin-top: 20px;
    }
  }

  @media (max-width: 800px) {
    h6 {
      margin-top: 20px;
      font-size: 12px;
      p {
        margin-top: 5px;
      }
    }
  }
}

/* Секция "Кто же оставит отзыв" */

.wholeft {
  
  min-height: 489px;
  background-color: #fff;
  h1 {
    margin-top: 55px;
    color: $colortext;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
  }

  .wholeft-description {
    margin-top: 55px;
  }

  .wholeft-slash {
    width: 120px;
    height: 3px;
    background-color: $colortext;
    margin-top: 7px;
    
  }
}

.wholeft-text {
  background-color: #EEEEEE;
  min-height: 134px;
  color: $colortext;
  text-align: left;
  padding: 15px;
  margin-top: 0px;
}

@media (max-width: 800px) {
  .wholeft-text {
    margin-top: -80px;
    font-size: 12px;
  }
}


.wholeft-image {
  padding: 0 50px 50px 50px;
}

/* Секция наши работы */

.ourwork {
  height: 300px;
  background-color: #EEEEEE;

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
  }
}

.ourwork-slash {
  width: 120px;
  height: 3px;
  background-color: $color;
  margin-top: 7px;
}

.slider {
  height: 400px;
  
  .img-responsive {
    max-height: 400px;
  }
}


