@import "variables";
@import "carousel";
@import "contactform";
@import "contactmodal";
@import "rc-notification";
@import "navbar";









html {
  font-size: 16px; }

body {
  font-size: 100%;
  
 }
  

 /* Общие стили  */

 .slash {
  width: 120px;
  height: 3px;
  background-color: $color;
  margin-top: 7px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.simple-slash {
  width: 120px;
  height: 3px;
  background-color: $colortext;
  margin-top: 7px;
  
}

.colorheader {
  color: $color;
}

/* Шапка страницы */


  .header {
    min-height: 76px;
    background-color: $colordark ;
    color: #fff;
    h4 {
      margin-bottom: 0;
    }
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    .colorheader {
      color: $color;
    }
    
    .review {
       width: 300px;
       position: relative;
       
    }

    .logo {
      height: 60px;
      width: 60px;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -4px;
      left:-7px;
    }


    .logophone {
      background-image: url(../img/logophone.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 50px;
      height: 45px;
      position: absolute;
      left: 30px;
    }   
    @media (max-width: 800px){
      .logophone {
        left: 14px;
        top:-10px;
      }

      h4 {
       font-size: 16px;
      }
    }
    
  }

  /* Секция отзывы на заказ */
  .banner {
    height: 543px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
    .banner-background {
      background-image: url(../img/banner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 543px;
      position: relative;
    
      h1 {
        color: $color;
        text-transform: uppercase;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 44px;
        margin-top: 170px;
        position: relative;
        z-index: 10;
        
      }
  
      h4 {
        color: #fff;
        position: absolute;
        z-index: 10;
        height: 50px;
        left: 27%;
        padding-right: 10px;
        padding-top: 6px;
        text-align: right;
        border-right: 4px solid #fff;
      }
  
      @media (max-width: 800px) {
        h1 {
          margin-top: 80px;
          font-size: 20px;
        }
        h4 {
          font-size: 10px;
          left: 20%;
          border-right: 2px solid #fff;
          height: 30px;
          padding-top: 5px;
        }
      }
  
    }
  
      .banner-girl {
        height: 450px;
        width: 260px;
        background-image: url(../img/girl.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        right: 100px;
      } 
  
      @media (max-width: 1100px) {
        .banner-girl {
          background-size: 100% ;
          background-position: 30% 100%;
          right: 0px;
        }
      }
     
    
  
  
  
  .banner-conversion {
    width: 246px;
    height: 26px;
    background-color: $colordark;
    color: #fff;
    padding-top: 5px;
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    right: 24vw;
  }
  
  @media (max-width: 800px) {
     .banner-conversion {
       bottom: 40px;
       right: 17vw;
       font-size: 10px;
       padding-top: 2px;
       width: 160px;
       height: 15px;
     }
  }
  
  .banner-overlay {
    width: 100%;
    height: 543px;
    background-color: rgba(0,0,0,0.84);
    position: absolute;
    top:0;
  
  }

/* Секция преимущество отзывов */
.advantage {
  min-height: 489px;
  background-color: #EEEEEE;
  h1 {
    margin-top: 55px;
    color: $colortext;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
  }
}

.advantage-description {
  margin-top: 55px;
}

.advantage-image {
  padding: 30px;
}

.advantage-list {
  text-align: left;
  h6 {
    margin-top: 20px;
    font-size: 16px;
    p {
      margin-top: 20px;
    }
  }

  @media (max-width: 800px) {
    h6 {
      margin-top: 20px;
      font-size: 12px;
      p {
        margin-top: 5px;
      }
    }
  }
}

/* Секция "Кто же оставит отзыв" */

.wholeft {
  
  min-height: 489px;
  background-color: #fff;
  h1 {
    margin-top: 55px;
    color: $colortext;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
  }

  .wholeft-description {
    margin-top: 55px;
  }

  
}

.wholeft-text {
  background-color: #EEEEEE;
  min-height: 134px;
  color: $colortext;
  text-align: left;
  padding: 15px;
  margin-top: 0px;
}

@media (max-width: 800px) {
  .wholeft-text {
    margin-top: -80px;
    font-size: 12px;
  }
}


.wholeft-image {
  padding: 0 50px 50px 50px;
}

/* Секция наши работы */

.ourwork {
  min-height: 300px;
  background-color: #EEEEEE;
  h1 {
    margin-top: 55px;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
      
    }
  }
}

/* Секция "Результат нашего клиента" */


.result {
  
  min-height: 490px;
  background-color: #fff;
  h1 {
    margin-top: 55px;
    
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .result-description {
    margin-top: 55px;
  }

}

.result-image {
  margin-left: 10px;
}

.result-text {
  background-color: #EEEEEE;
  min-height: 134px;
  text-align: left;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}


@media (max-width: 800px) {
  .result-text {
    font-size: 12px;
  }
  
}

/* Секция тарифные планы */

.tariff {
  min-height: 500px;
  margin-top: 55px;
  
}
.beginner,.standart,.premium {
  background-color: #fff;
  height: 390px;
  margin-top: 20px;
  min-height: 390px;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
  h3 {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  h2 {
    font-size: 26px;
  }
}

.beginner {
  border-top: 4px solid $color;
}

.standart {
  border-top: 6px solid $color;
}

.premium {
  border-top: 8px solid $color;
}




.unicip {
  margin-top: 35px;
}

.region {
  height: 50px;
  padding-top: 8px;
  margin-top: 30px;
  border-top: 0.5px dashed $colortext;
  border-bottom: 0.5px dashed $colortext;
  width: 100%;
}

.send {
  height: 40px;
  margin-bottom: 10px;
  border-bottom: 0.5px dashed $colortext;
  width: 100%;
  h3 {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 17px;
    &:hover {
       color: $colortext;
       cursor: pointer;
    }
    
  }
}
.copyright {
  margin-top: 20px;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1050px) {
  .send {
    h3 {
      font-size: 16px;
    }
  }

  .copyright {
    font-size: 12px;
  }

  .region {
    h5 {
      font-size: 12px;
    }
  }

  .beginner,.standart,.premium {
    h3 {
      font-size: 14px;
    }
  }
}

.refinement {
  margin-top: 30px;
}

.video {
  position: relative;
  min-height: 272px;
  background-color: #fff;
  margin-top: 55px;
  border-top: 8px solid $color;
  margin-top: 20px;
  box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
  padding-bottom: 20px;
  h3 {
    margin-top: 30px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: $colortext;
   }
  }
  h2 {
    font-size: 26px;
  }

  img {
    position: absolute;
    height: 40px;
    width: 70px;
    right: 0;
  }
 
  
}

.video-description {
  width: 70%;
}

.video-example {
  border-top: 0.5px dashed $colortext;
  padding-top: 8px;
}

/* Секция обратная связь */

.feedback {
  background-color: $color;
  min-height: 190px;
  color: black;
  margin-top: 55px;
  h3 {
    font-size: 20px;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
    }
    padding-left: 20px;
    padding-right: 20px;
}
}

.feedback-button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 10px 40px 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 90px;
    color: #fff;
    text-decoration: none;
    &:hover, &:focus {
      background-color: $colortext;
      color: black;
      outline: none !important;
    }

}

/* Секция контакты */

.contacts {
  min-height: 413px;
  margin-top: 55px;
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .contacts-overlay {
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    min-height: 413px;
    position: absolute;
    z-index: 10;
  }

  h1 {
    color: #fff;
    margin-top: 45px;
    text-transform: uppercase;
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
      padding-left: 20px;
       padding-right: 20px;
    }
    
}

}


@media (max-width: 767px) {
  .contacts {
    min-height: 600px;
  }
  .contacts-overlay {
    min-height: 600px !important;
  }
}

.contacts-form {
  min-height: 200px;
  margin-top: 35px;
}

.contacts-viber {
  min-height: 200px;
  margin-top: 18px;
}

.contacts-phone {
  img {
    width: 40px;
    height: 40px;
    position: absolute;
  }
  img.telefon {
    left: 0;
    top: -6px;
  }

  img.whatsapp {
    left: 50px;
    top: -6px;
  }

  img.viber {
    left: 100px;
    top: -6px;
  }

  img.gmail {
    left: 25px;
    top: -6px;
  }

  h3 {
    color: #fff;
    position: relative;
    width: 350px;
    height: 40px;
    font-size: 24px;

  }

  @media (max-width: 767px) {
    h3 {
    margin: 20px auto;
    font-size: 20px;
    width: 300px;;
    }
  }
}

.copy {
  margin-top: 0;
  min-height: 61px;
  background-color:#000000;
  h5 {
    color: #fff;
    margin-top: 15px;
  }
}







