.navbar-default {
    background-color: #fff !important;
    border: none;
    a {
        color: $color;
        text-decoration: underline;
        &:hover {
            color: $colortext;
            text-decoration: none;
        }
    }
}

.ion-arrow-up-a {
    color: $color;
    font-size: 25px;
    &:hover {
        color: $colortext;
    }
}